<!--
#######################################
## Iteration 3.2: The beers.hbs view ##
####################################### -->

<div class='row row-cols-3'>
  {{#each beersFromApi}}
  <a href='/random-beer/{{id}}'>
    {{>beerpartial}}
  </a>
  {{/each}}
</div>
