<!--
#######################################
## Iteration 3.2: The beers.hbs view ##
####################################### -->

<div class='row'>
  {{#each beersFromApi}}
  <a href="/random-beer/{{id}}">
    {{>beerpartial}}
  {{/each}}
  </a>
</div>
