<!--
############################
## Iteration 2: Home page ##
############################ -->

<div class='container d-flex flex-column align-items-center mug'>
  <img src='./images/beer.png' />
  <a href='/beers'><div class='btn mt-5'>Check the Beers!</div></a>
  <a href='/random-beer'><div class='btn mt-3'>Check a Random Beer!</div></a>
</div>
